<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <title>
        <% if(typeof name !== 'undefined') { %>
            <%= name %>
        <% } else { %>
            Animal app
        <% } %>
    </title>
</head>
<body>
    <nav>
        <a class="header" href="/">Home</a>
        <a class="header" href="/animals">Animals</a>
        <a class="header" href="/animals/new">Create a new Animal</a>
    </nav>