<%- include('../partials/header.ejs', {name: "All animal"}) %>
    <h1>Here are all the animals!</h1>
    <h2>Species: <%= animals[0].species %></h2>
    <h2>Extinct: <%= animals[0].extinct %></h2>
    <h2>Location: <%= animals[0].location %></h2>
</body>
</html>
