<%- include('../partials/header.ejs', {name: "Add a new specie"}) %>
<h1 class="homeTitle">Add a new specie to Species App!</h1>
<form action="/animals" method="POST">
    <label for="species">Species:</label>
    <input type="text" name="species" id="species">
    <br>
    <label for="extinct">Are they extinct? (true or false)</label>
    <input type="text" name="extinct" id="extinct">
    <br>
    <label for="location">Location:</label>
    <input type="array" name="location" id="location">
    <br>
    <label for="lifeExpectancy">How many year are they generally live?</label>
    <input type="number" name="lifeExpectancy" id="lifeExpectancy">
    <br>
    <label for="img">Immage:</label>
    <input type="text" name="img" id="img">
    <br>
    <input type="submit" value="Add this specie now">
</form>
</body>
</html>