<%- include('./partials/header.ejs', {name: "Home Page"}) %>
    <h1 class="homePage">Welcome in the animals home page</h1>
    <img src="https://img.freepik.com/premium-vector/big-set-cartoon-animals-giraffe-lion-elephant-zebra-hippo-lemur-whale-etc_533406-142.jpg" alt="">
</body>
</html>