body {
    background-color: rgb(211, 251, 251);
}

.header {
    color: rgb(98, 43, 226);
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
}

.header:hover {
    color: cornflowerblue;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
}

.homeTitle {
    font-size: xxx-large;
    font-family: fantasy;
    color: brown;
}

.imgIndex {
    height: 200px;
}

.speciesFont {
    color: tomato;
    font-family: math;
    font-size: 130%;
}

.button1 {
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
    transition-duration: 0.5s;
    cursor: pointer;
    border-radius: 8px;
}
  
.button1:hover {
    background-color: #008CBA;
    color: white;
}

.button2 {
    background-color: white;
    color: black;
    border: 2px solid red;
    transition-duration: 0.5s;
    cursor: pointer;
    border-radius: 8px;
}
  
.button2:hover {
    background-color: red;
    color: white;
}

.button3 {
    background-color: white;
    color: black;
    border: 2px solid green;
    transition-duration: 0.5s;
    cursor: pointer;
    border-radius: 8px;
}
  
.button3:hover {
    background-color: green;
    color: white;
}